@import 'variables.scss';
@import 'mixins.scss';
// init //

body{
    margin: 0px;
    background-color: $BackgroundColor;
}
.template{
    width: 100%;
    opacity: 0.5;
    position: absolute;
    display: flex;
}
.GreenButton{
    @include GreenButton;
}
p{
    @include DefaultTypo;
}
h1{
    @include h1;
}
h2{
    @include h2;
}
h3{
    @include h3;
}
.MainButton{
    @include MainButton;
}
.SecondButton{
    @include SecondButton;
}
.test{
    display: none;
}