$BackgroundColor: #21212E;
$BackgroundCardColor: #20202C;
$SeconBackgroundCardColor: rgba(57, 57, 77, 0.23);
$GreenButtonColor: #00EC98;
$ButtonDegrad: linear-gradient( 120deg, #46C2FF, #BD11FA);
$Maintypo: 'Roboto', sans-serif;
